*{
    margin: 0px;
    padding: 0px;
}

#nav-items {
    background-color: beige;
    width: 100%;
    height: 3rem;
}

#nav-items ul {
    display: flex;
    padding-left: 15px;
    font-size: 1.1rem;
    margin: 0px;
    padding: 5px 2px;
}


#nav-items ul li {
    list-style: none;
    padding: 4px 8px;
    text-transform: uppercase;
}

#nav-items ul li a {
    text-decoration: none;
    color: #599c9c;
}

#nav-items ul li a:hover {
    text-decoration: underline;
    color: rgb(221, 115, 115);
}

.deakin::before{
    content: "";
    background: url('../images/header.jpg' ) center center/ cover no-repeat;
    position: absolute;
    width: 100%;
    height: 66%;
    z-index: -1;
}

.deakin{
    height: 66vh;
    width: 100%;
}

.name{
    display: flex;
    background-color: rgb(35 33 33 / 62%);
    position: relative;
    top: 24.6rem;
    height: 3rem;
    justify-content: center;
    visibility: hidden;
    align-items: center;
    font-size: 1.6rem;
    color: white;

}

.deakin:hover .name{
    visibility: visible;
}

.intro{
    width: 43vw;
    margin: 0px auto;
}


.intro img{
    display: block;
    height: 26vh;
    border-radius: 50%;
    padding: 10px 10px;
    margin: auto;
}

.intro div{
    padding: 2.6vh;
    text-align: center;
    font-family: 'BioRhyme', serif;
}

hr{
    width: 100%;
    margin: 8px 0px;
    padding: 2px;
    background-color: aqua;
}

#things-done{
    margin-top: 20px;
    width: 43vw;
    margin: auto;
    font-family: 'Georama', sans-serif;
}

#things-done div{
    text-align: center;
    margin: 10px;
    font-family: 'Georama', sans-serif;
    font-size: 2.3rem;
    padding: 10px;
}

#things-done img{
    width: 80%;
    border-radius: 11%
}
.photos{
    width: 100vw;
    margin: auto;
}
.photos div{
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
    padding: 11px;
    font-size: 2.3rem;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images img{
    width: 15.6rem;
    height: 19.5rem;
    margin: 20px 9px;
}